@model string?

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form>
    <input name="prompt" type="text" />
    <input value="Submit" type="submit" />
</form>

@if (Model is not null)
{
    <p>@Model</p>
}
